@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'yekanb';
    src: url('./fonts/BYekan+.ttf');
  }



  @font-face {
    font-family: 'yekanb bold';
    src: url('./fonts/BYekan+\ Bold.ttf');
  }
